{% extends 'base.html.twig' %}

{% block title %}Ajouter des étudiants à la formation{% endblock %}

{% block body %}
<h1>Ajouter des étudiants à la formation "{{ formation.name }}"</h1>

{{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('formation_list') }}">Retour à la liste des formations</a>
{% endblock %}
